In [24]:
1+1

2

In [25]:
print("Hello World")

Hello World

In [26]:
## Basic syntax rules in python
## Case sensitivity - python is case sensitive

name = "Debopriya"
Name = "Debnath"
print(name)
print(Name)

Debopriya
Debnath

In [27]:
## Indentation 
##python uses indentation to define blocks of code. Consistent use of spaces(commonly 4 ) or a tab is required.
 
age =32
if age>30:
    print(age)

print(age)

32
32

### Indentation
Indentation in python is used to define the structure and hierarchy of the code.Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level

In [28]:
## This is a single line comment
print("Hello world")

Hello world

In [2]:
## Line continuation 
## use a backslash (\) to continue a statement to the next line

total= 1+2+3+4+5+6+7+\
4+5+6
print(total)

43

In [3]:
##Multiple Statements on a single line
x=5; y=10; z=x+y
print(z)

15

In [4]:
## Understanding semantics in python
# variable assignment
age=32 ##age is an integer
name="debopriya" ##name is a string

In [9]:
type(age)

int

In [10]:
type(name)

str

In [12]:
## Type Inference
variable=10
print(type(variable))
variable="debopriya"
print(type(variable))

<class 'int'>
<class 'str'>

In [13]:
## Name Error
a=b

NameError: name 'b' is not defined

In [14]:
## Code example of indentation
if True:
    print("correct indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

correct indentation
This will print
Outside the if block

Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign, value to a variable.

In [1]:
a= 100

In [2]:
##Declaring and assigning variables

age=32
height=6.1
name="debopriya"
is_student=True


##printing the variables

print("age: ",age)
print("Height:",height)
print("Name:",name)

age:  32
Height: 6.1
Name: debopriya

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contain letter, numbers and underscores
## Variables names are case sensitive 

#valid variable names

first_name= "Debopriya"
last_name= "Debnath"

In [ ]:
#Invalid variable names
#2age=30
#first-name="Debopriya"
#@name="Debopriya"

In [ ]:
##case sensitive
name="Debopriya"
Name="Debnath"

In [1]:
## Understanding variable types 
##python is dynamically typed, type of a variable is determined at runtime
age=25  #int
height=6.1 #float
name="debopriya" #str
is_student=True #bool

print(type (name))

<class 'str'>

In [2]:
##Type  checking and conversion

type(height)

float

In [1]:
## Dynamic typing 

var=10  #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [4]:
##input

age=int(input("What is the age"))
print(age,type(age))

24 <class 'int'>

In [3]:
##Simple calculator
num1= float(input("Enter first number: "))
num2= float(input("Enter second number: "))

addition= num1 + num2
substraction = num1 - num2
multiplication= num1 * num2
division= num1 / num2
floor_division=num1//num2
modulus= num1%num2
exponentiation= num1**num2


print("Addition: ", addition)
print("Substraction:", substraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition:  30.0
Substraction: 10.0
Multiplication: 200.0
Division: 2.0
Floor division: 2.0
Modulus: 0.0
Exponentiation: 10240000000000.0

DateTypes


1.Defination

  Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
  They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

In [4]:
##Integer example
age=35
type(age)

int

In [5]:
##Floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [6]:
##String datatype example
name= "Raj"
print(name)
print(type(name))

Raj
<class 'str'>

In [7]:
##boolean datatype
is_true=True
type(is_true)

bool

In [8]:
a=10
b=10

type(a==b)

bool

In [9]:
##Common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [4]:
result= "Hello"+str(5)
print(result)

Hello5

In [7]:
##Arithmetic operation

a=10
b=5

add_result=a+b  ##addition
sub_result=a-b  ##substraction
mult_result=a*b ##multiplication
div_result=a/b  ##division
floor_div_result=a//b ##floor division
modulus_result=a%b  ##modulus operation
exponent_result=a**b ##exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

#### Comparison operators

In [8]:
## Comparison operators
## == equal to
a=10
b=10

a==b

True

In [12]:
str1="Raj"
str2="Raj"

str1==str2

True

In [13]:
## Not equal to !=

str1!=str2

False

In [14]:
str3="Raj"
str4="raj"
str3!=str4

True

In [15]:
##greater than

num1=45
num2=55

num1>num2

False

In [16]:
##less than
print(num1<num2)

True

In [17]:
##greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [18]:
##less than or equal to
number1=45
number2=45

print(number1<=number2)

True

#### Logical operators

In [20]:
## And, Not, OR

X=True
Y=True

result= X and Y
print(result)

True

In [21]:
X= False
Y=True

result= X and Y
print(result)

False

In [24]:
##Or
X= False
Y=False

result= X or Y
print(result)

False

In [2]:
##Not operator
X=False
not X

True